{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <div>

        {% for articles in article %}
            <div>
                <img src="{{ articles.image }}" class="image">
                <section>Id : {{ articles.id }}</section>
                <section>Title : {{ articles.title }}</section>
                <section>Content : {{ articles.content }}</section>
                <section>CreatedAt : {{ articles.createdAt ? articles.createdAt|date('Y-m-d H:i:s') : '' }}</section>
                <section>Actions :
                    <a href="{{ path('article_show', {'id': articles.id}) }}">show</a>
                </section>
            </div>
        {% else %}
            <section>
                <td colspan="6">no records found</td>
            </section>
        {% endfor %}
    </div>


{% endblock %}
