{% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    <h1>Video index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Irl</th>
            <th>Createur</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.name }}</td>
                <td>{{ video.irl | raw }}</td>
                <td>{{ video.createur }}</td>
                <td>
                    <a href="{{ path('video_show', {'id': video.id}) }}">show</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}