{% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    <h1>Video index</h1>
    <a href="{{ path('admin_newvideo_new') }}">Create new</a>

        <div>
        {% for video in videos %}

                <section><h2>{{ video.name }}</h2></section>
                <section>{{ video.irl | raw }}</section>
                <section>{{ video.createur }}</section>
                <section>
                    <a href="{{ path('admin_newvideo_show', {'id': video.id}) }}">show</a>
                    <a href="{{ path('admin_newvideo_edit', {'id': video.id}) }}">edit</a>
                </section>
        {% else %}
            <section>
                <td colspan="5">no records found</td>
            </section>
        {% endfor %}
        </div>



{% endblock %}
