{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <a href="{{ path('admin_article_new') }}">Créer un nouveau article</a>

    <h1>Voici toutes les dernières info sur League of Legend WR!</h1>

    <div>

        {% for article in articles %}
            <div>
                <section><h2> {{ article.title }} </h2></section>
                <img src="{{ article.image }}" class="image">
                <section>Content : {{ article.content | raw }} </section>
                <section>Id : {{ article.id }}</section>
                <section>CreatedAt : {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</section>
                <section>Actions :
                    <a href="{{ path('admin_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('admin_article_edit', {'id': article.id}) }}">edit</a>
                </section>
            </div>
        {% else %}
            <section>
                <td colspan="6">no records found</td>
            </section>
        {% endfor %}
    </div>

{% endblock %}
